$green: #d0d6d6;
$yellow: #f1c40f;
$mainBg: #fafaf1;
$fontColor: #333;
$rem3: 3rem;
$rem2: 2rem;
$rem1_5: 1.5rem;
$rem1_2: 1.2rem;
$rem1: 1rem;
$rem0_8: 0.8rem;
$rem0_7: 0.7rem;
$rem0_6: 0.6rem;
// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
// }
html {
    font-size: 20px;
}

// 手機版改成 375以下
// html {
//     font-size: 16px;
// }
// body {
//     margin: 0;
//     padding: 0;
//     font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
//     background: $mainBg;
//     color: $fontColor;
//     overflow-x: hidden;
// }
.flexbox {
    display: flex;
}

a {
    text-decoration: none;
    color: $fontColor;
}

ul {
    list-style: none;
}

// header {
//     height: 230px;
//     text-align: center;
//     padding: 110px 0;
// }
.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
}


/*燈箱寬*/

.lightbox_s {
    width: 500px;
}


/*新手教學用*/

.lightbox_b {
    width: 1000px;
}


/*燈箱的遮罩顏色*/

.lightCover {
    background-color: #414141e6;
}


/*button mixin*/

@mixin butttonn02 {
    background-color: $yellow;
    font-size: 0.8rem;
    padding: 10px 30px;
    border: 1px solid $yellow;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
        transform: scale(1.1);
    }
}

@mixin buttonno03 {
    width: 25px;
    height: 25px;
    background: url("./img/collection/redheart.jpg");
    &:hover {
        transform: scale(1.1);
    }
}

@mixin buttonno04 {
    font-size: 0.7rem;
    display: inline-block;
    width: 80px;
    padding: 5px 8px;
    background-color: #ffffff;
    color: #333;
    border: 1.5px solid $yellow;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
        transform: scale(1.1);
    }
}

@mixin buttonno05 {
    font-weight: bold;
    &:hover {
        transform: scale(1.1);
    }
}

// RWD新增斷點
$phone: 376px;
$ipad: 576px;
$ipadpro: 768px;
$latop-min: 992px;
$latop-max: 1200px;
//mixin
@mixin respond($breakpoint) {
    @if $breakpoint=="phone" {
        @media all and (max-width: $phone) {
            @content;
        }
    }
    @else if $breakpoint=="ipad" {
        @media all and (max-width: $ipad) {
            @content;
        }
    }
    @else if $breakpoint=="ipadpro" {
        @media all and (max-width: $ipadpro) {
            @content;
        }
    }
    @else if $breakpoint=="latop-min" {
        @media all and (max-width: $latop-min) {
            @content;
        }
    }
    @else if $breakpoint=="latop-max" {
        @media all and (max-width: $latop-max) {
            @content;
        }
    }
    @else if $breakpoint=="desktop" {
        @media all and (min-width: $latop-max) {
            @content;
        }
    }
}

// @include respond(ipadpro) {
//     header {
//         height: 180px;
//         padding: 100px 0;
//         img {
//             height: 60px;
//         }
//     }
// }